
<div class="jumbotron jumbotron-fluid">
  <div clas="container">
    <h1 class="display-4">Stop, Drop and Listen</h1>
<!--  	<h2>If s/he taps.. stop, drop, flop (go flaccid, srsly), and roll over, to listen softly.</h2>
  	<h3>Use your skin as a <em>tap-sensitive, warm, lightning-fast, firm, seriously fun 'pillow-talk' button</em>.</br></h3>
-->

<script async charset="utf-8" src="//cdn.thinglink.me/jse/embed.js"></script>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2400">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" align="center">
    	<img style="max-width:100%" src="//cdn.thinglink.me/api/image/1006964990743150594/1024/10/scaletowidth#tl-1006964990743150594;'" class="alwaysThinglink"/>
      <div class="carousel-caption d-none d-md-block">
      	<h5>LOL</h5>
      	<p>Loads of Love and Laughter</p>
      </div>
    </div>
    <div class="carousel-item" align="center">
      <iframe width="424" height="283" src="//www.thinglink.com/card/1006965691720400898" type="text/html" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen scrolling="no"></iframe>
      <div class="carousel-caption d-none d-md-block">
      	<h5>Double-tap or Finger-snap</h5>
      	<p>For Stop, Drop and Listen</p>
      </div>
    </div>
    <div class="carousel-item" align="center">
      <iframe width="424" height="283" src="//www.thinglink.com/card/1006966365870882818" type="text/html" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen scrolling="no"></iframe>
      <div class="carousel-caption d-none d-md-block">
      	<h5>Avoid Anger</h5>
      	<p>Practice Arousal Safety</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!--
	<div id="cf-group" align="center">
		<div id="crossfade">
			<%= image_tag("lotsoflove2_text.jpg", id: "bottom_img", class: "bottom img-responsive", alt: "Happy couple rolled over into own parts of bed, each lying flat, happy with each other, looking at each other with curiosity") %>
			<%= image_tag("lotsoflove_text.jpg", id: "top_img", class: "top img-responsive", alt: "Couple cuddling") %>
			</br>
		</div>

		<div class="blocker"></div>
		<div id="popup">
			Hover to see ^ the double tap trigger ^ in action!
		</div>
	</div>
-->

	<div id="arousal-safety-stack-tbl" align="center">
		<h2>The Arousal Safety Stack!</h2>
	    <p class="lead">
	    	<table>
	    		<tr>
	    			<th>Signal</th>
	    			<th>Intended Effect</th>
	    		</tr>
	    		<tr>
	    			<td><span class="badge badge-success">LOL!</span></td>
	    			<td><u>L</u>oads <u>o</u>f <u>l</u>aughter and <u>l</u>ove, with STOP, DROP, FLOP, and ROLL!</b>!</td>
	    		</tr>
	    		<tr>
	    			<td><span class="badge badge-success">Tap, Tap = Rollover and LISTEN!</span></td>
	    			<td><u>"Touch me twice"</u>: Trigger for precautious, immediate listening . . . </td>
	    		</tr>
	    		<tr>
	    			<td><span class="badge badge-warning">Snap, Snap = DROP and FLOP!</span></td>
	    			<td><em>Drop</em> the subject and <em>Flop</em> flaccid  to "snap out" of it. . .</td>
	    		</tr>
	    		<tr>
	    			<td><span class="badge badge-danger">ANY Safeword = STOP!</span></td>
	    			<td><em>Stop</em> everything. . . sit up, get clothed.</td>
	    		</tr>

	    	</table>	
	    </p> 
	</div>

	<div class="button-group" align="center">
		<a href="/simple_pages/speakup.html"><button type="button" id="btn-sdl-homepage" class="btn btn-warning btn-sdl-homepage">Fully Speak Up! => Stop, Drop and LOL</button></a>
		<a href="/simple_pages/about.html"><button type="button" class="btn btn-primary">About Skin Sensitivity For Women</button></a>
		<a href="/simple_pages/message_for_men.html"><button type="button" class="btn btn-success">Message For Sensitive Martians</button></a>		
	</div>
  </div>
</div>


<div class="container">
	<div id ="arousal-safety-stack" class="row">
		<div class="col-sm-12">

			<h2>Stop, Drop, Flop, and Lol!</h2>

			<h5><span class="badge badge-pill badge-success">Consent is Critical!</span> Tap tenderly twice or thrice for a super-fast "roll-over stop"!</h5>

			<p>React instantly to <a href="/simple_pages/speakup.html">any critical cue...</a> yield him or her their side of the bed at comical speed, cool down, be happy, and share lots of love and laughter... a LOL, a laugh, when you feel tender taps. An interventional bundle for bedtime, for all expressing drive!</p>
			<p>See the <a href="/simple_pages/message_for_men.html">Message for Men</a> for a better illustration!</p>	


			<div class="list-group">
			  <a href="#arousal-safety-stack" class="list-group-item list-group-item-action flex-column align-items-start list-group-item-success">
			    <div class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1">LOL!</h5>
			      <small>Consent is Critical!</small>
			    </div>
			    <p class="mb-1">Loads of love and laughter.</p>
			    <small>Hope you have the time of your life.</small>
			  </a>
			  <a href="#arousal-safety-stack" class="list-group-item list-group-item-action list-group-item-warning flex-column align-items-start">
			    <div class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1">Tap, Tap: Touch-sensitive sensitivity!</h5>
			      <small>ATTN, Martian</small>
			    </div>
			    <p class="mb-1">Roll over and listen!</p>
			    <small>It happens to everyone . . .</small>
			  </a>
			  <a href="#arousal-safety-stack" class="list-group-item list-group-item-action list-group-item-warning flex-column align-items-start">
			    <div class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1">Snap out of it!</h5>
			      <small>This is not a joke.</small>
			    </div>
			    <p class="mb-1">Snap your fingers once or twice to catch his or her attention. If she's not snapping out of it, fully speak up and push yourself away.</p>
			    <small class="text-muted">Donec id elit non mi porta.</small>
			  </a>
			  <a href="#arousal-safety-stack" class="list-group-item list-group-item-action list-group-item-danger flex-column align-items-start">
			    <div class="d-flex w-100 justify-content-between">
			      <h5 class="mb-1">Any Safeword = STOP!</h5>
			      <small>Halt! STOP and GO!</small>
			    </div>
			    <p class="mb-1">Get clothed and Leave the room, as fast as you can dress!</p>
			    <small class="text-muted">Clear out comically fast.</small>
			  </a>			  
			</div>

		</div>
	</div>
</div>

<!-- To Trigger Stop, Drop ... Flop and LOL! -->
<!-- Double/Triple Tap Me Heart... Anytime, Anywhere -->