<div class="container">
	<div class="row">
		<div class="col-sm-12">

			<h1>Speak-up, Ladies and Gentle Men!</h1>
			<h2 align="center">Clear, convincing &amp; concise bedroom skin-sensitivity!</h2>
			<hr class="hr-style-one">

			<table class="table table-striped table-bordered table-hover table-responsive">
				<tr>
					<th>Her/His Action</th>
					<th>Desired Outcome</th>
					<th>Stop, Drop, Flaccid-Flop, and...?</th>
					<th>Symbolically?</th>
					<th>First Resort?</th>
				</tr>
				<tr class="table-warning">
					<td><span class="badge badge-success">Tap My Skin <b><i>Twice or Thrice</i></b></span></br><i>The Humbling Hint</i></td>
					<td>Stop, Drop, and Lol!</td>
					<td>Love, Laugh, Lol!</br>Sit down...be humble.</td>
					<td><span class="badge badge-warning">Strap-in &amp; Talk</span></br><span class="badge badge-success">Love and Laugh</span></td>
					<td><span class="badge badge-success">First Resort Under Stress!</span></td>
				</tr>
			</table>
			
<!--
					<td><span class="badge badge-success">Tap My Skin <b><i>Twice or Thrice</i></b></span></br><i>The Humbling Hint</i></td>
					<td>Stop, Drop, and Lol!</td>
					<td>Love, Laugh, Lol!</br>Sit down...be humble.</td>
					<td><span class="badge badge-warning">Strap-in &amp; Talk</span></br><span class="badge badge-success">Love and Laugh</span></td>
-->

			<br>
			<br>
			
			<h1>Don't be cloudy issuing verbal orders!</h1>
			<h2 align="center">Don't Stop! Go! ... Stop! No, go! Arrgh! Arg!</h2>

			<hr class="hr-style-one">

			<table class="table table-striped table-bordered table-hover table-responsive">
				<tr>
					<th>Her/His Action</th>
					<th>Desired Outcome</th>
					<th>Stop, Drop, Flaccid-Flop, and...?</th>
					<th>Symbolically?</th>
				</tr>
				<tr class="table-success">
					<td>Q: Yes?</br><b>A: Yes, Yes, Yes!</b></br><i>=> <b>Ulysses Consent! Epic!</b></i></td>
					<td>Enthusiastic Consent!!!</td>
					<td>Make love...</td>
					<td><span class="badge badge-success">Strap-in &amp; Talk</span></td>
				</tr>
				<tr class="table-success">
					<td>Q: Green?</br><b>A: Green!</b></br>=> <b>Enthusiastic Consent! You're a go!</b></td>
					<td>Enthusiastic Consent!!!</td>
					<td>Make love...</td>
					<td><span class="badge badge-success">Strap-in &amp; Talk</span></td>
				</tr>
				<tr class="table-warning">
					<td><span class="badge badge-success">Tap My Skin <b><i>Twice or Thrice</i></b></span></br><i>The Humbling Hint</i></td>
					<td>Stop, Drop, and Lol!</td>
					<td>Love, Laugh, Lol!</br>Sit down...be humble.</td>
					<td></br><span class="badge badge-success">Love and Laugh</span><span class="badge badge-success">A whenever event!</span><span class="badge badge-warning">Strap-in &amp; Talk</span></td>
				</tr>
				<tr class="table-warning">
					<td><span class="badge badge-success">Snap me to ATTN! <b><i>Once, Twice or Thrice</i></b></span></br><i>The Semmelweiss Snap</i></td>
					<td>Stop, Drop, and Lol!</td>
					<td>Love, Laugh, Lol!</br>Sit down...be humble.</td>
					<td></br><span class="badge badge-success">Love and Laugh</span><span class="badge badge-success">A whenever event!</span><span class="badge badge-warning">Strap-in &amp; Talk</span></td>
				</tr>
				<tr class="table-warning table-warning-harsh">
					<td>"Yellow"...means "Quick Red"</td>
					<td>Stop, Drop, and Lol!</td>
					<td>Love, <del>Laugh</del>, and Roll</td>
					<td><span class="badge badge-warning">Strap-out &amp; Talk</span></br>or...</br><span class="badge badge-danger">Strap-out &amp; Talk</span><span class="badge badge-info">Keep rare!</span></td>
				</tr>
				<tr class="table-danger">
					<td>Thirsty! Sore! Tired!</br>Not now.. Not tonight..</td>
					<td>Stop, Stop, Drop, and Flop</td>
					<td>Stop, flop, rest. <u>Another night.</u>.</td>
					<td><span class="badge badge-danger">Hard stop!</span><span class="badge badge-warning">Sleep on it?</span><span class="badge badge-success">A whenever event!</span></td>
				</tr>
				<tr class="table-danger">
					<td>Assuming, Presuming or Implying Consent, and all Deeply Drunken Attempts at Consent</td>
					<td>Stop, Stop, Stop, Stop! Call a friendly, same-sex bystander and leave!</td>
					<td>Consent unconfirmed with "Yes?" or "Green?"? S/he's drunk? Barely conscious, but saying 'yes!'? Go to jail. Don't stop to collect your clothes. <u>Man goes</u>.</td>
					<td><span class="badge badge-danger">Hard stop!</span><span class="badge badge-danger">Man goes!</span><span class="badge badge-danger">Never event!</span><span class="badge badge-danger">Punishable</span><span class="badge badge-success">Tell someone!</span></td>
				</tr>
				<tr class="table-danger">
					<td>"Red!"... means "Flashing Red"</td>
					<td>Stop, Drop, and Roll Out</td>
					<td>Get dressed, <u>man goes</u></td>
					<td><span class="badge badge-danger">Hard stop!</span><span class="badge badge-danger">Man goes!</span><span class="badge badge-danger">Never event!</span><span class="badge badge-danger">Punishable</span><span class="badge badge-success">Tell someone, please!</span></td>
				</tr>
				<tr class="table-danger">
					<td>"Mango!"... means "Man, go! Leave in 90 seconds!"</td>
					<td>Stop, Drop, and Roll Out</td>
					<td>Get dressed, <u>man goes</u></td>
					<td><span class="badge badge-danger">Hard Stop!</span><span class="badge badge-danger">Mango: Man goes!</span><span class="badge badge-danger">Never event!</span><span class="badge badge-danger">Punishable</span><span class="badge badge-success">Tell someone!</span></td>
				</tr>
				<tr class="table-danger table-danger-harsh">
					<td>"stop..!"... means "STOP! LEAVE IMMEDIATELY! Be gone in 30-45 seconds!" Unless it means... "stop and adjust" your entry angle. Consider the context.</td>
					<td>Stop, Drop, and Roll Out</td>
					<td>Play it very safe. Get dressed, <u>man goes</u></td>
					<td><span class="badge badge-danger">Hard STOP!</span><span class="badge badge-danger">Man goes!</span><span class="badge badge-danger">Never event!</span><span class="badge badge-danger">Punishable</span><span class="badge badge-success">Tell someone!</span></td>
				</tr>
			</table>
			<h3 align="center">Your Body, Our Rules and Roles!</h3>
			<h3 align="center">Safety Belts, Safety Instincts First!</h3>
			<h4 align="center">Argue later, if at all. This  is imperfect. So are you. We are too.</br>
			For now: Obey happily or be stoned, young man.</h4>
			<h5 align="center">LGBTQS Friendly: Adapt to your gender, orientation, prehensility, and handy-cap!</h5>

			<div class="button-group" align="center">
				<a href="/simple_pages/about.html"><button type="button" class="btn btn-primary">About For Women</button></a>
				<a href="/simple_pages/message_for_men.html"><button type="button" class="btn btn-success">Message For Men</button></a>		
			</div>

		</div>
	</div>
</div>