// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-family: Arial, sans-serif;
	color: gray;
	text-align: center;
}

.tenor-gif-embed {
	margin: 30px;
}

hr.hr-style-one {
    border: 0;
    height: 0;
    box-shadow: 0 0 10px 1px black;
}

hr.hr-style-one:after {
    content: "\00a0"; 
}