<!DOCTYPE html>
<html>
	<head>
 		<title>Stop, Drop &amp; Roll: Arousal Safety</title>


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= csrf_meta_tags %>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-29616124-20"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-29616124-20');
		</script>

  </head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/#">Stop, Drop &amp; Roll: Arousal Safety</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active" href="/#">Home<span class="sr-only">(current)</span></a>
					<a class="nav-item nav-link" href="/simple_pages/about.html">About</a>
					<a class="nav-item nav-link" href="/simple_pages/message_for_men.html">Message for Gentle Men</a>
					<a class="nav-item nav-link" href="/simple_pages/contact.html">Contact</a>
				</div>
			</div>
		</nav>
	<%= yield %>
	<footer align="center">
			</br>
			<h5><a href="/simple_pages/speakup.html">ATTN! Tap, Tap!!</br>
			⤽⤽&nbsp;&nbsp;&nbsp;bedroom&nbsp;&nbsp;&nbsp;⤽⤼&nbsp;&nbsp;&nbsp;soft-power&nbsp;&nbsp;&nbsp;⤼⤼</br>
			⤼⤽</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>
			</br>
			<p><span class="badge badge-warning">Warning</span> <b>If you suspect you've been or are being sexually assaulted...</br> you probably are or have been.</br>
			Call 911 in US CAN, 112 in Europe, or in China, 119. Brexiteers, 999.</b></p>
			Adjust or reverse as needed. Be harmless! Cheers!
			<div align="center">
				&copy; 2018 ⚲⚥ Eve 'Æesc' Stoneman</br>
			<!--
				<a href="simple_pages/university_students.html">University Students</a>, <a href="simple_pages/university_lawyers.html">University Lawyers</a>, <a href="simple_pages/university_parents.html">Parents</a>, <a href="simple_pages/researchers.html">Researchers</a>, <a href="simple_pages/media.html">Media</a>, <a href="simple_pages/beta_testers.html">Beta Testers</a>
			-->
			</div>

		</footer>
	</body>
</html>
